DATABASE_URI=postgres://payload:payload@127.0.0.1:5432/payload
FE_URL=http://localhost:3000
PAYLOAD_SECRET=YOUR_SECRET_HERE
PREVIEW_SECRET=YOUR_SECRET_HERE
PORT=3001
METRICS_SAMPLING=0.1
METRICS_PORT=3101

# Directory for uploaded files (/media, /assets), relative to the app root (apps/cms)
STATIC_DIR=./upload

# Enable audit logs collection
AUDIT_LOG_FILE=./audit.log
