PORT=3000
CMS_URL=http://localhost:3001
NEXT_PUBLIC_CMS_URL=http://localhost:3001
NEXT_PUBLIC_FE_HOST=http://localhost:3000
PREVIEW_SECRET=YOUR_SECRET_HERE
CACHE_REVALIDATE_TIME='3600'
METRICS_SAMPLING=0.1
METRICS_PORT=3100
FARO_URL=http://localhost:8000